#home {
  .map-wrap {
    position: relative;
    width: 100%;
    height: 70vh;
  }
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .maplibregl-popup {
    .maplibregl-popup-tip {
      border-bottom-color: #50557d;
      border-top-color: #50557d;
    }
    .maplibregl-popup-content {
      background: #50557d;
      color: #e6ecfd;
    }
    .maplibregl-popup-close-button {
      opacity: 0;
    }
  }
  .background-card-image {
    background-size: cover;
    background-position: center;
    background-color: transparent;
    width: 100%;
    height: 300px;
    position: relative;
  }
  .body-card-content {
    padding: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 81px;
    transition: all 0.5s ease-in-out;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    &:hover {
      max-height: 300px;
      transition: all 0.5s ease-in-out;
    }
  }
}