#home {
  .map-wrap {
    position: relative;
    width: 100%;
    height: 70vh;
  }
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .maplibregl-popup {
    .maplibregl-popup-tip {
      border-bottom-color: #50557d;
      border-top-color: #50557d;
    }
    .maplibregl-popup-content {
      background: #50557d;
      color: #e6ecfd;
    }
    .maplibregl-popup-close-button {
      opacity: 0;
    }
  }
}